.container-fluid {
    height: 100vh;
    background: #9b2a2a;
    background: linear-gradient(90deg,rgba(155, 42, 42, 1) 16%, rgba(108, 149, 150, 1) 74%, rgba(87, 197, 199, 1) 100%, rgba(13, 105, 166, 1) 51%);
    font-family: "Homemade Apple", system-ui;
}

.row {
    min-height: 200px;
    align-items: center;
    text-align: center;
}

#text {
    font-size: 9rem;
    color: #fff;
    text-shadow:  10px 10px 1rem black;
}

#nameButton, #nameBack {
    font-family: 'Homemade Apple', system-ui;
    border-color: black;
}

button {
  border-radius: 25px;
  border: 2px solid #30332b;
  padding: 20px;
  width: 200px;
  height: 150px;
  background-color: #bb7878;
}

/* From Uiverse.io by vinodjangid07 */ 
.Btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: rgb(122, 25, 25);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 0px rgb(58, 20, 83);
  transition-duration: .3s;
}

.svg {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: white;
  transition-duration: .3s;
}

.Btn:hover {
  color: transparent;
}

.Btn:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: .3s;
}

.Btn:active {
  transform: translate(3px , 3px);
  transition-duration: .3s;
  box-shadow: 2px 2px 0px rgb(140, 32, 212);
}
