.container-fluid {
    height: 100vh;
    background: #9b2a2a;
    background: linear-gradient(90deg,rgba(155, 42, 42, 1) 16%, rgba(108, 149, 150, 1) 74%, rgba(87, 197, 199, 1) 100%, rgba(13, 105, 166, 1) 51%);
    font-family: "Homemade Apple", system-ui;
}

.row {
    min-height: 200px;
    align-items: center;
    text-align: center;
}

#text {
    font-size: 9rem;
    color: #fff;
    text-shadow:  10px 10px 1rem black;
}

#nameButton, #nameBack {
    font-family: 'Homemade Apple', system-ui;
    border-color: black;
}

button {
  border-radius: 25px;
  border: 2px solid #30332b;
  padding: 20px;
  width: 200px;
  height: 150px;
  background-color: #bb7878;
}


