.container-fluid {
    height: 100vh;
    background: #9b2a2a;
    background: linear-gradient(90deg,rgba(155, 42, 42, 1) 16%, rgba(108, 149, 150, 1) 74%, rgba(87, 197, 199, 1) 100%, rgba(13, 105, 166, 1) 51%);
    font-family: "Homemade Apple", system-ui;
}

.row {
    min-height: 200px;
    align-items: center;
    text-align: center;
}

#text {
    font-size: 9rem;
    color: #fff;
    text-shadow:  10px 10px 1rem black;
}

#nameButton, #nameBack {
    font-family: 'Homemade Apple', system-ui;
    border-color: black;
}

button {
  border-radius: 25px;
  border: 2px solid #30332b;
  padding: 20px;
  width: 200px;
  height: 150px;
  background-color: #bb7878;
}

/* From Uiverse.io by sekaiking */ 
button {
  background-color: rgb(67, 129, 126);
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

button:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
};

button:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
};

/* animation */

    body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #000;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.bounce {
    font-size: 4rem;
    color: #fff;
    text-shadow: 0 0 5px #800505, 0 0 10px #800505, 0 0 20px #800505, 0 0 40px #800505, 0 0 80px #800505;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    }
    100% {
        text-shadow: 0 0 10px #00d4ff, 0 0 20px #04323b, 0 0 40px #04323b, 0 0 80px #04323b, 0 0 160px #04323b;
    }
}
    
 /* other */

.cloud{ 
   width:350px;
   height:120px;
   background:#ECEFF1;
   box-shadow: 10px 10px rgba(0,0,0,0.2);
   border-radius: 100px;
   transform: translateY(70%);
}

#second {
   width:350px;
   height:120px;
   background:#ECEFF1;
   box-shadow: 10px 10px rgba(0,0,0,0.2);
   border-radius: 100px;
   transform: translateY(90%);

}

.cloud:after, .cloud:before{
    content:"";
    position:relative;
    display:inline-block;
    background:inherit;
    border-radius:inherit;
    
}


.cloud::after {
    width:100px;
    height:100px;
    top:-220px;
    left:50px;
 } 
.cloud::before {
    width:180px;
    height:180px;
    top: -70px;
    left:130px;
}